<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ user }}'s Project</title>
    <link rel="icon" href="{{ url_for('static', filename='i.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
<h2>
    <img alt="Discon" class="avatar" src="/static/discon.png">
    {{ user }}'s Project
</h2>
<ul class="movie-list">
    <li>
        Page Not Found - 404
        <span class="float-right"><br><br>
<a href=" / ">Go Back</a>
</span>
    </li>
</ul>
<footer>
    <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
</footer>
</body>
</html>