<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">

    <meta charset="UTF-8">
    <title>搜索</title>
    <script>
        function Sub() {
            var input;
            input=document.getElementById("words").value;
           // window.alert(input);

        };



    </script>


</head>
<body>
    <div id="back">
        搜索一下！
        <div style="height: 10%;min-height: 260px"></div><!--有一定高度的空标签-->



        <div id="box">


            <div id="center_pic"></div>

            <form method="POST" action="/keywords">

                <input id="words" name="keywords" type="text" placeholder="输入关键词" class="keywords" required>
                <input type="submit"  onclick="Sub()" value="搜索" id="search" class="submit">


            </form>
        </div>


    </div>
</body>
</html>
